<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "LocalBusiness",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Lepant 270",
        "addressLocality": "Barcelona",
        "postalCode": "08013",
        "addressCountry": "ES"
      },
      "description": "{{ page.description }}",
      "name": "lenorix",
      "telephone": "+34 654 456 162",
      "email": "contact@lenorix.com",
      "url": "{{ site.url }}{{ site.baseurl }}{{ page.url }}",
      "sameAs": [
          "https://bsky.app/profile/lenorix.com",
          "https://instagram.com/by_lenorix/",
          "https://x.com/lenorix_com"
      ]
    }
</script>
