<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>html,body { background-color: #000; color: #fff; } * { background-color: transparent; } a { color: inherit; text-decoration: inherit; }</style>

    {% seo %}
    
    <script src="https://cdn.tailwindcss.com" defer></script>
    <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <noscript><link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}"></noscript>
    <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="{{ "/assets/css/custom-style.css?v=" | append: site.github.build_revision | relative_url }}">
    <noscript><link rel="stylesheet" href="{{ "/assets/css/custom-style.css?v=" | append: site.github.build_revision | relative_url }}"></noscript>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous" defer></script>
    <script defer>
      document.addEventListener("DOMContentLoaded", function() {
        anchors.add();
      });
    </script>

    {% include head-custom.html %}
  </head>
  <body class="bg-black text-gray-50">
    {{ content }}
  </body>
</html>
