<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="preload" as="script" href="https://lenorix.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js">
    <link rel="preload" as="script" href="https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js" crossorigin="anonymous">
    <link rel="preload" as="script" href="https://cdn.tailwindcss.com">
    
    <style>html,body { background-color: #000; color: #fff; } * { background-color: transparent; } a { color: inherit; text-decoration: inherit; }</style>

    <script src="https://cdn.tailwindcss.com" defer></script>
    <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <noscript><link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}"></noscript>
    <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="{{ "/assets/css/custom-style.css?v=" | append: site.github.build_revision | relative_url }}">
    <noscript><link rel="stylesheet" href="{{ "/assets/css/custom-style.css?v=" | append: site.github.build_revision | relative_url }}"></noscript>
    
    <script src="https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js" crossorigin="anonymous"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        anchors.add();
      });
    </script>

    {% seo %}

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "lenorix",
        "legalName" : "lenorix S.L.",
        "url": "https://lenorix.com",
        "founders": [
          {
            "@type": "Person",
            "name": "Jesus Hernandez"
          }
        ],
        "sameAs": [
          "https://instagram.com/lenorix2024/",
          "https://x.com/lenorix_com"
        ]
      }
    </script>
  </head>
  <body class="bg-black text-gray-50">
    {{ content }}
  </body>
</html>
