<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="modulepreload" href="https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js">
    <link rel="preload" as="script" href="https://lenorix.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js">
    <link rel="preload" as="image" href="{{ "/assets/img/background.webp?v=" | append: site.github.build_revision | relative_url }}" type="image/webp">
    
    <script type="module">
      import 'https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js';
      anchors.add();
    </script>

    <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="{{ "/assets/css/base-style.css?v=" | append: site.github.build_revision | relative_url }}">
    <noscript><link rel="stylesheet" href="{{ "/assets/css/base-style.css?v=" | append: site.github.build_revision | relative_url }}"></noscript>
    
    <style>
      * { background-color: transparent; font-family: "Roboto"; box-sizing: border-box; }
      *, :after, :before { border: 0 solid #e5e7eb; box-sizing: border-box; }

      html { background-color: #000; transition: background-image 0.2s ease-in-out; }
      html,
      body { color: #fff; margin: 0; }
      body { background-color: transparent; }
    </style>
    {% if page.extra_styles %}
      <style> {{ page.extra_styles }} </style>
    {% endif %}

    <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="{{ "/assets/css/custom-style.css?v=" | append: site.github.build_revision | relative_url }}">
    <noscript><link rel="stylesheet" href="{{ "/assets/css/custom-style.css?v=" | append: site.github.build_revision | relative_url }}"></noscript>

    {% if page.extra_preconnect %}
      {% for preconnect in page.extra_preconnect %}
        <link rel="preconnect" href="{{ preconnect }}">
      {% endfor %}
    {% endif %}

    {% if page.extra_dns_prefetch %}
      {% for dns_prefetch in page.extra_dns_prefetch %}
        <link rel="dns-prefetch" href="{{ dns_prefetch }}">
      {% endfor %}
    {% endif %}

    {% seo %}

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "lenorix",
        "legalName" : "lenorix S.L.",
        "url": "https://lenorix.com",
        "founders": [
          {
            "@type": "Person",
            "name": "Jesus Hernandez"
          }
        ],
        "sameAs": [
          "https://bsky.app/profile/lenorix.com",
          "https://instagram.com/by_lenorix",
          "https://x.com/lenorix_com"
        ]
      }
    </script>

    <meta name="theme-color" content="#000000">
    <link rel="shortcut icon" href="{{ "/favicon.ico?v=" | append: site.github.build_revision | relative_url }}">

    {% if page.extra_head %}
      {% include {{ page.extra_head }} %}
    {% endif %}
  </head>
  <body class="bg-black text-gray-50">
    {{ content }}
  </body>
</html>
