---
layout: base
---

<header class="fixed top-0 left-0 w-full z-50 px-4 md:px-8 lg:px-16">
  <h1 id="site-title" class="transition-transform duration-500 ease-in-out text-3xl">
    <a href="{{ "/" | absolute_url }}">{{ site.title }}</a>
  </h1>
</header>

<main class="container-lg pt-24 px-3 my-5 markdown-body">
  {{ content }}
</main>

<script async="true" type="text/javascript">
  const title = document.getElementById('site-title');
  const header = title.parentElement;
  const maxScroll = 100;

  const headerPaddingLeft = parseFloat(getComputedStyle(header).paddingLeft);

  window.addEventListener('scroll', () => {
    const scrollY = Math.min(window.scrollY, maxScroll);
    const shift = -headerPaddingLeft * (scrollY / maxScroll);
    title.style.transform = `translateX(${shift}px)`;
  });
</script>
